$primary-color:#FFEFE7;
$secundary-color:#FFDAC6;
$tertiary-color:#BABD8D;
$primary-text-color:#7C6A0A;
$paragraph-size:1.5em;
$quaternion-color:#FA9500;


@mixin buttonStyle{
    button{
        background: none;
        border-style: none;
       

    }
}


body{
    margin: 0;
    padding: 0;
    background-color: $primary-color;
}

nav{
    
    width: auto;
    display: flex;
    justify-content: space-between;
    color: $primary-text-color;
    padding: 18px;

    p{
        font-size: 1.5em;
        padding-left: 30px;
    }

    .icons{
        display: flex;
        gap: 5px;
    
        button{
            background: none ;
            
        }
    }
}

article{
    width: auto;
    color: $primary-text-color;
    background-color:white;
    padding-left: 45px;
    padding-right: 45px;
    display: flex;
    justify-content: space-between;

    .impact-section{
        display: flex;
        flex-direction: column;
        padding-top: 50px;
        gap: 25px;
    }
   

     h1{
        font-size: 3em;
        padding: 0px;
        margin: 0px;
     }

     p{
        font-size: $paragraph-size;
     }

     
     @include buttonStyle;
     button{
        background-color: $quaternion-color;
        border-style: none;
        width: 12vw;
        padding: 12px;
        border-radius: 35px;
        color: white;
        font-size: 1em;
       
     }

    .impact-section{
        width: 50%;
        background-color: white;
        img{
            width: 25vw;
            border-radius: 19px;
        }
    }    
}

section{
    width: auto;
    height: auto;
    padding: 30px;
    
    h2{
        color: $primary-text-color;
        font-size: 2em;
    }

    .healthcare{
 
        padding-bottom: 20px;
        h2{
            font-weight:300;
            padding-bottom: 60px;
        }

        .card-section{

            display: flex;
            width: auto;
            height: auto;
            justify-content: center;
            flex-wrap: wrap;
            align-items: center;
            column-gap: 100px;
            row-gap: 80px;
        }
    .product-card{
            width: 20vw;
            height: 33vw;
            background-color: $secundary-color;
            color: $primary-text-color;
            padding: 20px;
            border-radius: 8px;
          .product-image{

            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            img{
                width: 20vw;
                height: 25vw;
                object-fit: cover;
                border-radius: 16px;

            }
          }
           
        }


        
    }

    .furniture{
        @extend .healthcare;
        .product-card{
            background-color:$tertiary-color;
            color: white;
        }
    }
}


.about-us{

    h2{
        font-weight: bold;
        padding-bottom: 60px;
    }

    .mision-section{
    
        display: flex;
        gap: 50px;
        .earth{
            width: 40vw;
            display: flex;
            gap: 30px;
            color: #E86424;


            img{
                object-fit: cover;
                width: 15vw;
                height: 30vw;
                object-fit: cover;
                border-radius: 50px;
                padding: 10px;
            }

            p{
                text-align: center;
                font-size: $paragraph-size;
            }
           
        }
        .innovation{
            @extend .earth;
        }
    }
}

.gallery{
    padding: 20px;
    h2{
        font-weight: bold;
        padding-bottom: 60px;
    }
    .gallery-images{
        img{
            width: 28vw;
            height: 50vh;
            object-fit: cover;
            object-position: 5px 35%;
            border-radius: 30px;
            padding: 15px;
            &:hover{
                transform: scale(1.1);
            }
        }
    }
}

.location{
    color: #E86424;

    h2{
        padding-bottom: 60px;
        padding-top: 60px;
        font-size: 2.5em;
    }
    .map{
        display: flex;
        padding-bottom: 50px;
        justify-content: center;
        img{
            width: 800px;
            height: 350px;
        }
       
    }

    h3{
        font-size: $paragraph-size;
    }
    p{
        font-size: $paragraph-size;
    }
}
footer{
    background-color:$quaternion-color;
    width: 100%;
    height: 150px;
    color: white;
    padding:40px ;

    .social-media{
             display: flex;
             gap: 40px;
             justify-content: center;
            
    }
}